.tutorial-bubble {
    position: fixed;
    z-index: 10000;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 300px;
    transition: all 0.3s ease;

  }

  /* .tutorial-bubble-content {
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    position: relative;
  }
   */
   .tutorial-bubble-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #3b3737;
    position: absolute;
    left: -10px;
    bottom: 20px;

  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .tutorial-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .tutorial-content {
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .next-button, .previous-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .next-button:hover, .previous-button:hover {
    background-color: #0056b3;
  }
  
  .tutorial-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }
  
  .tutorial-icon:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  .tutorial-icon:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .tutorial-icon svg {
    width: 24px;
    height: 24px;
  }